:root {
  --branding-color: #7641ab;
  --secondary-color: #ffffff;
  --tertiary-color: #ff4040;
  --hover-color: #a75cf2;
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--branding-color);
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  color: var(--branding-color);
  font-size: 42px;
  font-weight: 600;
}

h2 {
  color: var(--branding-color);
  font-weight: 600;
}

h3 {
  font-size: 26px;
  text-align: center;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

footer p {
  font-size: 16px;
}

footer .homepage-link {
  color: var(--branding-color);
}

footer .homepage-link:hover {
  color: var(--hover-color);
}

footer .col-md-6 {
  padding: 0 20px;
}

.logo-header {
  margin: 5px 0 5px 100px;
  max-height: 70px;
}

a:link {
  text-decoration: none;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
  color: var(--branding-color);
}

.navbar {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 10px 100px 10px 0;
}

.nav-item {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.navbar-collapse {
  display: flex;
  justify-content: right;
  text-align: right;
}

.warning {
  background: #edebeb;
  margin: 100px 0 0 0;
}

.warning-text {
  color: var(--tertiary-color);
  display: block;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  max-width: 800px;
}

.content-container {
  background-color: var(--secondary-color);
  display: block;
  margin: 0 auto;
  padding: 30px 40px;
  width: 75%;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.email-form {
  margin: 0 auto;
  width: 60%;
}

.submit-btn {
  margin: 0 auto;
  padding: 10px 0;
  width: 40%;
}

.enter-email,
.enter-email.active,
.enter-email.focus,
.enter-email:focus,
.enter-email:active {
  border-color: var(--branding-color);
  font-size: 14px;
  display: block;
  margin: 8px auto;
  padding: 10px;
}

.btn-primary {
  background: var(--branding-color);
  border-style: none;
  color: var(--secondary-color);
  display: block;
  font-size: 16px;
  text-align: center;
  transition: all 100ms ease-in-out;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  background: var(--branding-color);
}

.chat-btn,
.donation-btn,
.apply-btn {
  margin: 2px auto;
  padding: 10px 60px;
}

.btn-primary:hover {
  background: var(--hover-color);
  color: black;
}

.social-media {
  color: var(--branding-color);
  font-size: 22px;
  margin: 15px auto;
  text-align: center;
}

.social-media-icons {
  text-align: center;
}

.fa-brands {
  color: var(--branding-color);
  font-size: 22px;
  padding: 0 20px;
}

.fa-brands:hover {
  color: var(--hover-color);
}

.fa-paypal {
  color: var(--secondary-color);
  font-size: 20px;
  padding: 0 5px;
}

.fa-paypal:hover {
  color: black;
}

.credit-cards {
  font-size: 12px;
}

.copyright {
  font-size: 14px;
  text-align: center;
}

.volunteer-requirements p {
  margin-bottom: 20px;
}

.requirement-information h2 {
  font-size: 22px;
}

.requirement-information p {
  font-size: 16px;
}

/* Breakpoints */
@media (max-width: 1500px) {
  .content-container {
    width: 80%;
  }

  .email-form {
    margin: 0 auto;
    width: 75%;
  }

  .submit-btn {
    margin: 0 auto;
    padding: 10px 0;
    width: 50%;
  }
}

@media (max-width: 1400px) {
  footer .col-lg-6 {
    padding: 0 20px;
  }
}

@media (max-width: 1200px) {
  .content-container {
    width: 90%;
  }

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .content-container {
    padding: 20px 50px;
    text-align: center;
  }

  .col-lg-6,
  .col-lg-4 {
    margin: 15px auto;
  }

  .volunteer-requirements {
    margin: 15px auto;
  }

  .volunteer-requirements p {
    font-size: 16px;
  }

  .requirement-information p {
    font-size: 14px;
  }

  .email-form {
    margin: 0 auto;
    width: 80%;
  }

  .submit-btn {
    margin: 0 auto;
    padding: 10px 0;
    width: 40%;
  }

  .btn {
    font-size: 14px;
  }

  .social-media,
  .social-media-icons .fa-brands {
    font-size: 20px;
  }

  .image {
    width: 80%;
  }
}

@media (max-width: 576px) {
  footer .col-lg-6 {
    padding: 0 10px;
  }

  .warning-text {
    font-size: 12px;
  }

  .content-container {
    padding: 20px 30px;
    width: 100%;
  }

  .logo-header {
    margin: 10px 0 10px 50px;
  }

  .navbar {
    padding: 10px 50px 10px 0;
  }

  .copyright {
    font-size: 12px;
  }
}
